@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monton:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  color: #fff;
  position: relative;
}

.menu-bar {
  height: 88vh;
  margin-top: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.22rem;
  position: relative;
}

.hamburger-toggle {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 20;
  color: white;
  font-size: 1.2rem; 
}

.sidebar-drag-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
}
